<?xml version="1.0"?>
<config>
    <modules>
        <MiradorMx_Login>
            <version>0.1.0</version>
        </MiradorMx_Login>
    </modules>
    <frontend>
        <routers>
            <customer>
            <args>
                <modules>
                    <MiradorMx_Login_AccountController before="Mage_Customer_AccountController">MiradorMx_Login_AccountController</MiradorMx_Login_AccountController>
                </modules>
            </args>
            </customer>
        </routers>
        <layout>
            <updates>
                <customer>
                    <file>customer.xml</file>
                </customer>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <distribuidor>
                <class>MiradorMx_Login_Model</class>
            </distribuidor>
        </models>
        <blocks>
            <customer>
                <rewrite>
                    <form_login>MiradorMx_Login_Block_Form_Login</form_login>
                </rewrite>
                <rewrite>
                    <form_register>MiradorMx_Login_Block_Form_Register</form_register>
                </rewrite>
            </customer>
        </blocks>
        <routers>
            <customer>
                <rewrite>
                    <login_customer_account>
                        <from><![CDATA[#^/account/#]]></from>
                        <to>/customer/account/</to>
                    </login_customer_account>
                </rewrite>
            </customer>
        </routers>
        <helpers>
            <customer>
                <rewrite>
                    <data>MiradorMx_Login_Helper_Data</data>
                </rewrite>
            </customer>
        </helpers>
    </global>
</config>
