<?xml version="1.0"?>
<config>
    <modules>
        <MiradorMx_Distribuidor>
            <version>0.1.0</version>
        </MiradorMx_Distribuidor>
    </modules>
    <frontend>
        <routers>
            <customer>
            <args>
                <modules>
                    <MiradorMx_Distribuidor before="Mage_Customer">MiradorMx_Distribuidor</MiradorMx_Distribuidor>
                </modules>
            </args>
            </customer>
        </routers>
        <layout>
            <updates>
                <customer>
                    <file>customer.xml</file>
                </customer>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <distribuidor>
                <class>MiradorMx_Distribuidor_Model</class>
            </distribuidor>
        </models>
        <blocks>
            <customer>
                <rewrite>
                    <form_login>MiradorMx_Distribuidor_Block_Form_Login</form_login>
                </rewrite>
            </customer>
        </blocks>
        <routers>
            <customer>
                <rewrite>
                    <distribuidor_customer_account>
                        <from><![CDATA[#^/account/#]]></from>
                        <to>/customer/account/</to>
                    </distribuidor_customer_account>
                </rewrite>
            </customer>
        </routers>
        <helpers>
            <customer>
                <rewrite>
                    <data>MiradorMx_Distribuidor_Helper_Data</data>
                </rewrite>
            </customer>
        </helpers>
    </global>
</config>
